:root {
  --azul-escuro: #003366;
  --azul-medio: #0055aa;
  --vermelho: #8d0a0a;
  --vermelho-hover: #f00505;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
  color: #333;
  width: 100%;
  height: 100vh;
}

header {
  background: var(--azul-escuro);
  color: white;
  text-align: center;
  padding: 1rem;
}


main {
  max-width: 1000px;
  margin: 2rem auto;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* ===== Formulários ===== */
form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input,
button {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: var(--azul-escuro);
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: var(--azul-medio);
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.7rem;
}

th {
  background: var(--azul-escuro);
  color: white;
}

tr:nth-child(even) {
  background: #f9f9f9;
}


.acoes button {
  margin: 0.2rem;
  padding: 0.4rem 0.7rem;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.acoes .editar {
  background: var(--azul-medio);
}

.acoes .editar:hover {
  background: #0074d9;
}

.acoes .excluir {
  background: var(--vermelho);
}

.acoes .excluir:hover {
  background: var(--vermelho-hover);
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
  max-width: 350px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

dialog h3 {
  text-align: center;
  color: var(--azul-escuro);
}

dialog#modalEditar button[type="submit"] {
  background-color: #05dd05;
}

dialog#modalEditar button#fecharEditar {
  background-color: var(--azul-escuro);
}

/* ===== Modal Excluir ===== */
dialog#modalExcluir button {
  background-color: var(--vermelho);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.8rem;
  cursor: pointer;
  width: 100%;
  margin-top: 0.4rem;
}

dialog#modalExcluir button:hover {
  background-color: var(--vermelho-hover);
}


dialog#modalExcluir button#fecharExcluir {
  background-color: var(--azul-escuro);
}

dialog#modalExcluir button#fecharExcluir:hover {
  background-color: var(--azul-medio);
}
