body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #517dcf;
}

header {
  background-color: #003366;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
  margin-bottom: 2rem;
}

.form-section h2 {
  margin-bottom: 1rem;
  color: #003366;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #003366;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0055aa;
}

.resposta {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: green;
}

.user-management-container {
  margin-top: 2rem;
 
}

.user-management-container h2 {
  margin-bottom: 1rem;
  color: #003366;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
  color: black;
  font-size: .93rem;
  font-weight: bolder;
}

th {
  background-color: #003366;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
  
  
}

.editar,
.excluir {
  background-color: #0055a5;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.3rem;
}

button.excluir {
  background-color: #9c2828;
}

.editar:hover {
  background-color: #0074d9;
}

.excluir:hover {
  background-color: #f00505;
}
