:root {
  --button-delete: #8d0a0a;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
  color: #333;
}

header {
  background: #003366;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input,
button {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #003366;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0055aa;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.7rem;
}

th {
  background: #003366;
  color: white;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

.acoes button {
  display: block;
  margin-right: 0.3rem;
  padding: 0.4rem 0.7rem;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.acoes .editar {
  background: #0055aa;
}

.acoes .excluir {
  background: var(--button-delete);
}

.acoes .editar:hover {
  background: #0074d9;
}

.acoes .excluir:hover {
  background: #f00505;
}

.popup {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background: #003366;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(140, 172, 125, 0.301);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.modal-content h3 {
  text-align: center;
  color: #003366;
}

.modal-content button {
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  
}

#salvarEdicao {
  background: #05dd05;
}
#cancelar {
  background: #0f2c63;
}

#delEscola {
  background: var(--button-delete);
}

#delEndereco {
  background: var(--button-delete);
}

#delDiretor {
  background: var(--button-delete);
}

#delEmail {
  background: var(--button-delete);
}

.modal-content button:hover {
  opacity: 0.9;
}

